extends layout

block content
    h1 Contacter-nous
    .content_contact
        form.formContact(action='/contact/envoie-message', method='post')
            input(type='hidden', name='csrf', value=session.token)
            .mail
                input(type="email"
                    , name="email"
                    , class="formInput email"
                    , placeholder="Adresse e-mail*"
                    , required
                    )
            .lastName
                input(type="text", name="nom", class="formInput nom", placeholder="Nom *", required)
            .subject
                input(type="text", name="sujet", class="formInput sujet", placeholder="Sujet *", required)
            .message
                textarea(name="message", class="texteArea message", placeholder="Votre message *", required)
            .checked
                input(type="submit",class='formInput check' value="Envoyer")