extends layout

block content

  .home_container 
    h1 Nos biens immobiliers :
    ul.realty_contents 
      li
        a(class="product_realty",href="#") 
          .head_realty
            h3 Nom du vendeur 
            .price Price 
          .image
            img(src='/images/realty/608172ed8d5c005998393d29/kitchen_2400367_640.jpg')
          .info_realty 
            p.type_realty Type de bien 
            p.location Adresse 
            p.infos Infos complémentaires
    
      li
        a(class="product_realty",href="#") 
          .head_realty
            h3 Nom du vendeur 
            .price Price 
          .image
            img(src='/images/realty/608172ed8d5c005998393d29/kitchen_2400367_640.jpg')
          .info_realty 
            p.type_realty Type de bien 
            p.location Adresse 
            p.infos Infos complémentaires



