extends layout

block content

  .home_container 
    h1 Nos biens immobiliers :
    ul.realty_contents 
      each realty in realties 
        +realtyList(realty.realtyAdress.sellerName,realty.url_images[0])
    

mixin realtyList(seller,url)
  li
    a(class="product_realty",href="#") 
      .head_realty
        h3=seller
        .price Price 
      .image
        img(src=url)
      .info_realty 
        p.type_realty Type de bien 
        p.location Adresse 
        p.infos Infos complémentaires
