extends ../layout_admin

block content
    h2 ✉️/  Messages

    .headMessage
        .adminButton.realtyList
            a(href="/admin/messages/repondre/"+ msg._id) Répondre 
        .adminButton.realtyList
            a(href="#") Supprimer 
    
    .contentMessages

        .expediteur 
            p De : #{msg.nom} - #{msg.email}
        
        .subject 
            p Sujet : #{msg.sujet}

        .message 
            p #{msg.message}
        
