extends ../layout_admin

block content
    h2 ✉️/  Messages

    .headMessage
        //- .adminButton.realtyList
        //-     a(href="#") Répondre 
        //- .adminButton.realtyList
        //-     a(href="#") Supprimer 
    
    .contentMessages

        .expediteur 
            p De : 
        
        .subject 
            p Sujet : 

        .message 
            p 
        
