extends ../layout

block content

    .content_form

        h3 Nouveau mot de passe 

        //- p Saisissez votre adresse mail :
        
        form.formLogin(action="/nouveau-mot-de-passe/"+ pass.token, method="post")
            .mail
                input(type="password", name="pass", class="pass", placeholder="Nouveau mot de passe :",minLength="6", required)
            .checked 
                input(type="submit", value="Enregistrer le nouveau mot de passe", class="check")