extends ../layout

block content

    .content_form
        h3 Réinitialiser votre mot de passe 

        //- p Saisissez votre adresse mail :
        
        form.formLogin(action="/mot_de_passe_oublie", method="post")
            .mail
                input(type="email", name="email", class="formInput email", placeholder="Adresse mail :", required)
            .checked 
                input(type="submit", value="Envoyer un mail de réinitialisation", class="check")
