p Bonjour,
    | Vous souhaitez regénérer votre mot de passe suivez le lien suivant 
    | <a href="http://localhost:3000/nouveau-mot-de-passe/#{pass.token}"  >Regénérer mon mot de passe</a>
    
p Si vous n'avez pas effectué cette demande ignorez ce mail.
 
p A bientôt
| L'équipe ****
